
{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}
{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">  
    <a href="../../../../">{% trans "Home" %}</a> ›
    <a href="../../../">{{ opts.app_label|capfirst|escape }}</a> ›
    <a href="../../">{{ opts.verbose_name_plural|capfirst }}</a> ›
    {% trans 'Execution' %} #{{ entry.pk }}</div>
{% endif %}{% endblock %}
{% block content %}

<div id="content-main">
	<ul class="object-tools">
		<li>
			{% if entry.is_finished %}
				<a href="{% url 'admin:execution-print' entry.pk %}" class="button">{% trans 'Print' %}</a>
				{% if perms.execution.can_reexecute %}
					<a href="{% url 'admin:execution-reexecute' entry.pk %}" class="historylink">{% trans 'Re-execute' %}</a>
				{% endif %}
			{% endif %}
		</li>    
	</ul>

	<fieldset class="module aligned">
		<div class="form-row">
			<div>
				<label>{% trans 'Date Started' %}: </label> <div>{% if entry.date_started %}{{entry.date_started}}{% else %}-{% endif %}</div>
				<hr style="margin: 25px 0">
				<label>{% trans 'Date Finished' %}: </label> <div>{% if entry.date_finished %}{{entry.date_finished}}{% else %}-{% endif %}</div>
				<hr style="margin: 25px 0">
				<label>{% trans 'Status' %}: </label> <div>?????</div>
			</div>
		</div>
	</fieldset>
	
	<hr style="margin: 25px 0">

	<table id="checkpoints-table" class="result_list" width="100%">
		<thead>
			<th scope="col">{% trans 'Status' %}</th>
			<th scope="col">{% trans 'Reference' %}</th>
			<th scope="col">{% trans 'Object' %}</th>
			<th scope="col">{% trans 'Name' %}</th>
			<th scope="col">{% trans 'Description' %}</th>
			<th scope="col">{% trans 'Date Checkpoint' %}</th>
		</thead>
		<tbody>
			{% for checkpoint in entry.checkpoints.all|dictsort:"pk" %}
				<tr>
					<td class="{% if checkpoint.status == 1 %} td-success {% else %} td-fail {% endif %}">{{checkpoint.get_status_display}}</td>
					<td>{{checkpoint.get_reference_display}}</td>
					<td>{{checkpoint.get_object_display}}</td>
					<td>{{checkpoint.name}}</td>
					<td>{% if checkpoint.description %}{{checkpoint.description}}{% else %}-{% endif %}</td>
					<td>{{checkpoint.date_checkpoint}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div id="chart-container">
		<canvas id="myChart"></canvas>
	</div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/Chart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/execution/admin-script.js' %}"></script>
<script type="text/javascript">
	var execute_runtime = {% if entry.date_finished %}false{% else %}true{% endif %};
	runtime_loop(execute_runtime);
</script>
{% endblock %}