/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.dashboard #content {
    width: auto !important; 
}

#container .breadcrumbs {
    background: #401a00 !important;
    color: #ffcb82 !important;
}

#header {
    background: #000; /* Old browsers */
    background: -moz-linear-gradient(left, #773400 50%, #fc9300 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #773400 50%,#fc9300 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #773400 50%,#fc9300 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#773400', endColorstr='#fc9300',GradientType=1 );
    border-bottom: 3px solid #401b00;
}

.module h2, .module caption, .inline-group h2 {
    background-color: #fc9300 !important;
}

#site-name {
    font-family: 'Bangers';
    text-shadow: 2px 2px 1px black;
    font-size: 40px !important;
    color: #fff1a5 !important;
}

#user-tools , #user-tools > a {
    color: #000000 !important;
    font-size: 13px !important;
}

#user-tools > a {
    border-bottom: 1px solid #000000 !important;
}

#user-tools > a:hover {
    color: #ffffff !important;
    border-bottom-color: #ffffff !important;
}

#container {
    font-family: 'Source Sans Pro' !important ;
}

#content-main > div[class^="app"] {
    min-width: 30% !important;
    display: inline-flex;
    box-shadow: 1px 2px 5px #616161 !important;
    margin-right: 5px;
    border: 1px solid #401900;
}

#content-main > div[class^="app"] > table {
    width: -webkit-fill-available;
}

.module table {
    border-collapse: unset !important;
    border: none !important;
}

.module caption {
    background-color: #e48401 !important;
}

tr a {
    font-size: 15px !important;
}

.module caption a {
    white-space: nowrap;
    font-size: 15px;
    font-weight: bolder;
}

#content-main > div[class^="app"] tr a, #recent-actions-module, #recent-actions-module a, #result_list, #result_list a {
    color: #401a00;
}

#content-main > div[class^="app"] tr th a:hover, #result_list a:hover {
    border-bottom: 1px solid #401a00;
}

#recent-actions-module > h2 {
    color: #ffffff !important;
    background-color: #883b02 !important;
    border-bottom: 2px solid #401a00 !important;
}

#content-related {
    background-color: #fff5e7 !important;
    border: 1px solid #401a00;
    box-shadow: 1px 2px 5px #616161 !important;
}

/*Formulários*/
.selector-chosen h2 {
    background: #773400 !important;
}

.selector-available h2 {
    background: #fc9300 !important;
    color: #ffffff !important;
}

.selector-available h2, .selector-chosen h2 {
    border-width: 0px !important;
}

.selector select {
    padding: unset !important;
}

.selector select option {
    padding: 5px;
    white-space: normal !important;
}

.selector select option:checked {
    background-color: #ffecd2 !important;
}

select {
    background-color: #ffffff !important;
}

/*Botões*/
input[type="submit"] {
    background: #f69001 !important;
    transition: box-shadow 0.5s;
    border: none !important;
    color: #ffffff !important;
}

input[type="submit"]:hover, .object-tools .addlink:hover, .object-tools .historylink:hover {
    box-shadow: inset 0px 0px 10px 0px #000000 !important;
    transition: box-shadow 0.5s;
}

input[type="submit"].default {
    background-color: #783401 !important;
}

.object-tools .addlink, .object-tools .historylink {
    background-color: #ef8c03 !important;
    transition: box-shadow 0.5s;
}

.breadcrumbs {
    font-size: 15px !important;
}