/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Cabin');

:root {
    --primary-color: #212121;
    --primary-dark-color: #000000;
    --secondary-color: #78909C;
    --secondary-dark-color: #607D8B;
    --logo-primary-text-color: #C6FF00;
    --logo-secondary-text-color: #CCFF90;
    --sucess-text-color: #B9F6CA;
    --fail-text-color: #FFCDD2;
}

html * {
    font-family: 'Cabin';
    font-size: 1em !important;
    text-transform: none !important;
}

#site-name, #branding h1, #branding h1 a:link, #branding h1 a:visited {
    font-family: 'Share Tech Mono' !important;
    font-size: 1.5em !important;
    color: var(--logo-primary-text-color) !important;
}

h1 {
    font-size: 1.35em !important;
}

#header {
    background-color: var(--primary-color) !important;
    color: var(--logo-secondary-text-color) !important;
}

#header, div.breadcrumbs {
    box-shadow: 0 2px 4px rgba(0,0,0,.25);
}

div.breadcrumbs, .module caption, .selector-chosen h2, #changelist-filter h2, .inline-group h2 {
    background-color: var(--secondary-color) !important;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background-color: var(--secondary-color);
}

.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover,
.object-tools a:focus, .object-tools a:hover {
    background-color: var(--secondary-dark-color);
}

.button.default, input[type=submit].default, .submit-row input.default {
    background-color: var(--primary-color);
}

.button.default:active, input[type=submit].default:active,
.button.default:focus, input[type=submit].default:focus,
.button.default:hover, input[type=submit].default:hover {
    background-color: var(--primary-dark-color);
}


.dashboard #content {
    width: auto !important; 
}

#content-main > div[class^="app"] {
    min-width: 30% !important;
    display: inline-flex;
}

#content-main > div[class^="app"] > table {
    width: -webkit-fill-available;
}

.object-tools .addlink, .object-tools .historylink {
    margin-left: 5px;
}

.tr-success, ul.messagelist li {
    background-color: var(--sucess-text-color);
}

.tr-fail {
    background-color: var(--fail-text-color);
}

.aligned label {
    display: block;
    padding: 4px 10px 0 0;
    float: left;
    width: 160px;
    word-wrap: break-word;
    line-height: 1;
    font-weight: bold;
}

div.row {
    display: inline-block;
    width: 100%;
}

#checkpoints-table td, #checkpoints-table th {
    border-bottom: 1px solid white;
}