{
    "project": {
        "name": "chise",
        "debug": true,
        "language": "en",
        "timezone": "UTC",
        "domain": "127.0.0.1"
    },
    "bin": {
        "firefox": "/usr/bin/firefox",
        "geckodriver": "bin/geckodriver"
    },
    "etc": {
        "firefox_profile": ""
    },
    "database": {
        "name": "chise",
        "user": "postgres",
        "password": "postgres",
        "port": "5432",
        "host": "localhost"
    },
    "celery": {
        "broker_url": "amqp://localhost"
    }
}
